@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes scrollLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-scrollLeft {
  animation: scrollLeft 25s linear infinite;
}

.animate-scrollRight {
  animation: scrollRight 25s linear infinite;
}
